In [2]:
import pandas as pd

In [3]:
users = pd.read_csv('usersd.csv')
users.dtypes

_id              object
active             bool
createdDate     float64
lastLogin       float64
role             object
signUpSource     object
state            object
dtype: object

In [4]:
users.shape

(495, 7)

In [5]:
users.isnull().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [7]:
users.head(5)

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,1.609690e+12,1.609690e+12,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI

**Here we see in the above table that the _id has duplicate values**

In [8]:
userst = users[users.duplicated()]

**Showing all the duplicate values**

In [10]:
userst.head(5)

,_id,active,createdDate,lastLogin,role,signUpSource,state
1,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
5,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
8,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI

In [11]:
userst.duplicated().sum()

213

In [12]:
userst=userst.drop_duplicates()

In [26]:
userst

,_id,active,createdDate,lastLogin,role,signUpSource,state
1,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
11,5ff1e1eacfcf6c399c274ae6,True,1.609690e+12,1.609690e+12,consumer,Email,WI
24,5ff370c562fde912123a5e0e,True,1.609790e+12,1.609790e+12,consumer,Email,WI
26,5ff36d0362fde912123a5535,True,1.609790e+12,1.609790e+12,consumer,Email,WI
27,5ff36be7135e7011bcb856d3,True,1.609790e+12,1.609790e+12,consumer,Email,WI
...,...,...,...,...,...,...,...
429,5fb0a078be5fc9775c1f3945,True,1.605410e+12,1.613150e+12,consumer,Google,AL
433,5fbc35711d967d1222cbfefc,True,1.606170e+12,1.614310e+12,fetch-staff,Email,AL
436,5fc961c3b8cfca11a077dd33,True,1.607030e+12,1.614380e+12,fetch-staff,Email,NH
457,5fa41775898c7a11a6bcef3e,True,1.604590e+12,1.614870e+12,fetch-staff,Email,NH
476,54943462e4b07e684157a532,True,1.419000e+12,1.614960e+12,fetch-staff,Email,NH

In [14]:
userst=userst.drop_duplicates(subset = ['_id'])

In [20]:
userst.head(5)

,_id,active,createdDate,lastLogin,role,signUpSource,state
1,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
11,5ff1e1eacfcf6c399c274ae6,True,1.609690e+12,1.609690e+12,consumer,Email,WI
24,5ff370c562fde912123a5e0e,True,1.609790e+12,1.609790e+12,consumer,Email,WI
26,5ff36d0362fde912123a5535,True,1.609790e+12,1.609790e+12,consumer,Email,WI
27,5ff36be7135e7011bcb856d3,True,1.609790e+12,1.609790e+12,consumer,Email,WI

In [21]:
userst.isnull().sum()

_id              0
active           0
createdDate      0
lastLogin       10
role             0
signUpSource     3
state            6
dtype: int64

In [22]:
import numpy as np

In [23]:
userst= userst.replace( np.NaN, regex=True)

In [24]:
userst

,_id,active,createdDate,lastLogin,role,signUpSource,state
1,5ff1e194b6a9d73a3a9f1052,True,1.609690e+12,1.609690e+12,consumer,Email,WI
11,5ff1e1eacfcf6c399c274ae6,True,1.609690e+12,1.609690e+12,consumer,Email,WI
24,5ff370c562fde912123a5e0e,True,1.609790e+12,1.609790e+12,consumer,Email,WI
26,5ff36d0362fde912123a5535,True,1.609790e+12,1.609790e+12,consumer,Email,WI
27,5ff36be7135e7011bcb856d3,True,1.609790e+12,1.609790e+12,consumer,Email,WI
...,...,...,...,...,...,...,...
429,5fb0a078be5fc9775c1f3945,True,1.605410e+12,1.613150e+12,consumer,Google,AL
433,5fbc35711d967d1222cbfefc,True,1.606170e+12,1.614310e+12,fetch-staff,Email,AL
436,5fc961c3b8cfca11a077dd33,True,1.607030e+12,1.614380e+12,fetch-staff,Email,NH
457,5fa41775898c7a11a6bcef3e,True,1.604590e+12,1.614870e+12,fetch-staff,Email,NH
476,54943462e4b07e684157a532,True,1.419000e+12,1.614960e+12,fetch-staff,Email,NH